<!doctype html>
<html>
<head>
<title>NOPSHIP</title>
</head>
<body>
{% if secret is not none %}
    <h1>NOPSHIP</h1>
    <div class="token">
        <h2 value="{{ secret }}"> 
        {% if admin %}
        <p>dam{th4nkz_f0rr_th3_h3lp}</p>
        {% endif %}
    </div>
{% endif %}
<form action="/">
    <label for="sname">Style: </label>
    <input type="text" id="style" name="style" value="">
    <input type="submit" value="Submit">
</form>  
<br/>
<img src="{{url_for('static', filename='nopship.png')}}"/>

{% if style is not none %}
<style>@import url('{{style}}');</style>
{% endif %}

</body>
</html>
